<div class="container">
    <div class="col" style="color: white;">
        ‎
    </div>
    <div class="col" style="color: white;">
        ‎
    </div>
    <div class="col" style="color: white;">
        ‎
    </div>
</div>

<!-- Image pour "Contactez-nous" -->
<img src="assets/Contact.jpg" alt="Contactez-nous" style="width: 100%; max-width: 100%; height: auto; margin-top: 20px;">

<!-- ======= Section Contact ======= -->
<section id="contact" class="contact section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <!-- <h2 style="color: black; font-weight: bold; font-size: 28px;">Contactez-nous</h2> -->
            <p class="section-description" style="font-size: 20px;">N'hésitez pas à nous contacter pour toute demande de renseignements, questions ou collaborations. Remplissez le formulaire ci-dessous et nous vous répondrons dès que possible.</p>
        </div>


      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-right">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Adresse :</h4>
              <p>Béja l'avenir , Béja Nord 9000 Tunisie    | Cyber Parc Béja 9000</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email :</h4>
              <p>mansourifiras72@gmail.com</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Téléphone :</h4>
              <p>+216 92 139 847</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.158077030648!2d9.190586624315134!3d36.74277657226361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fb59f4a320c363%3A0x39310b820379bf5c!2sAeros%20Innovation%20Center%20%7C%20Aeros%20Advising%20%7C%20Icstartup!5e0!3m2!1sar!2stn!4v1708610693488!5m2!1sar!2stn" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            <!-- <iframe src="" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
          </div>
        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">

          <!-- <form class="php-email-form">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Votre nom</label>
                    <div class="position-relative">
                    <input type="text" name="name" class="form-control" id="name" required [(ngModel)]="nameValue" />
                    <span class="validation-icon" *ngIf="nameValue !== ''">
                      <i class="fas fa-check-circle fa-lg text-success"></i>
                  </span>
                </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Votre email</label>
                    <div class="position-relative">
                    <input type="email" class="form-control" name="email" id="email" required [(ngModel)]="emailValue"/>
                    <span class="validation-icon" *ngIf="emailValue !== ''">
                      <i class="fas fa-check-circle fa-lg text-success"></i>
                  </span>
                </div>

                </div>
            </div>
            <div class="form-group">
                <label for="subject">Sujet</label>
                <div class="position-relative">
                <input type="text" class="form-control" name="subject" id="subject" required [(ngModel)]="subjectValue"/>
                <span class="validation-icon" *ngIf="subjectValue !== ''">
                  <i class="fas fa-check-circle fa-lg text-success"></i>
              </span>
              </div>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <div class="position-relative">
                <textarea class="form-control" name="message" rows="10" id="message" required [(ngModel)]="messageValue"></textarea>
                <span class="validation-icon" *ngIf="messageValue !== ''">
                  <i class="fas fa-check-circle fa-lg text-success"></i>
              </span>
            </div>
            </div>


            <div class="mb-3">
                <div *ngIf="isLoading" class="loading">Chargement</div>
                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                <div *ngIf="isSuccess" class="sent-message">Votre message a été envoyé. Merci !</div>
            </div>
            <div class="text-center"><button type="submit">Envoyer le message</button></div> -->

            <!-- <div class="form-group">
              <label for="inputEmail">Adresse e-mail :</label>
              <div class="position-relative">
                  <input type="email" class="form-control border-input" id="inputEmail" placeholder="Entrez votre adresse e-mail" name="email" [(ngModel)]="emailValue">
                  <span class="validation-icon" *ngIf="emailValue !== ''">
                      <i class="fas fa-check-circle fa-lg text-success"></i>
                  </span>
              </div>
           </div> -->

        <!-- </form>



      </div>


      </div>

    </div>
  </section> -->




  <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
    <form role="form" (ngSubmit)="onSubmit()">
      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="name">Votre nom</label>
          <input type="text" name="name" class="form-control" [(ngModel)]="name" id="name" required />
        </div>


        <div class="form-group col-md-6">
          <label for="email">Votre email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="email" id="email" required />
        </div>
      </div>
      <div class="form-group">
        <label for="subject">Sujet</label>
        <input type="text" class="form-control" name="subject" [(ngModel)]="subject" id="subject" required />
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" name="message" [(ngModel)]="message" rows="10" required></textarea>
      </div>
      <div class="mb-3">
        <div *ngIf="isLoading" class="loading">Chargement en cours...</div>
        <div *ngIf="isError" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="isSuccess" class="sent-message">Votre message a été envoyé. Merci !</div>
      </div>
      <div class="text-center"><button type="submit">Envoyer le message</button></div>
    </form>
  </div>
   -->
