.button-container {
    display: flex; /* Utiliser Flexbox */
    justify-content: center; /* Centrer horizontalement les boutons */
    gap: 10px; /* Espacement entre les boutons */

}

.accept-button,
.reject-button {
    padding: 8px 12px; /* Ajuster la taille du bouton */
    border: none; /* Supprimer la bordure */
    border-radius: 4px; /* Ajouter une bordure arrondie */
    cursor: pointer; /* Changer le curseur au survol */
    font-size: 16px; /* Augmenter la taille de la police pour une meilleure lisibilité */
}

.accept-button {
    background-color: #0010ee; /* Couleur de fond pour le bouton Accepter */
    color: white; /* Couleur du texte */
}

.reject-button {
    background-color: #ff1100; /* Couleur de fond pour le bouton Refuser */
    color: white; /* Couleur du texte */
}

.accept-button:hover {
    background-color: #0b00a8; /* Changer la couleur de fond du bouton Accepter au survol */
    color: white; /* Couleur du texte */
}

.reject-button:hover {
    background-color: #970000; /* Changer la couleur de fond du bouton Refuser au survol */
    color: white; /* Couleur du texte */
}

.profile-container {
    position: relative;
    display: flex;
    align-items: center;
}

.formateur-img-container {
    position: relative;
    text-align: center;
    margin-right: 10px;
}

.formateur-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.profile-text {
    display: none;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.formateur-img-container:hover .profile-text {
    display: inline-block;
}
