<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des demandes de participation</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Formateur Demander</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Mode Formation</th>
                    <th>Domaine</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Formateur Demander</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Mode Formation</th>
                    <th>Domaine</th>
                    <th>Actions</th>
                  </tr>
                </tfoot>
                <tbody>
                  <ng-container *ngIf="demandesParticipation.length > 0; else noData">
                    <tr *ngFor="let demande of demandesParticipation">
                      <td>
                        <div class="profile-container">
                          <div class="formateur-img-container">
                            <img src="{{imagepath}}{{demande.Formateur.img}}" alt="Formateur Icon" class="formateur-img"
                              (click)="navigateToProfile(demande.FormateurId)">
                            <span class="profile-text">Voir le profil</span>
                          </div>
                          <div class="formateur-name">
                            {{ demande.Formateur.firstname | titlecase }} {{ demande.Formateur.lastname | titlecase }}
                          </div>
                        </div>
                      </td>
                      <td>{{ demande.Formation.titre }}</td>
                      <td>{{ demande.Formation.description }}</td>
                      <td>{{ demande.Formation.modeformation }}</td>
                      <td>{{ demande.Formation.domaine }}</td>
                      <td class="button-container">
                        <button class="reject-button"
                          (click)="refuserRequest(demande.FormateurId, demande.Formation.id)">Refuser</button>
                        <button class="accept-button"
                          (click)="accepterRequest(demande.FormateurId, demande.Formation.id)">Accepter</button>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-template #noData>
                    <tr>
                      <td colspan="6">Aucune demande de participation trouvée.</td>
                    </tr>
                  </ng-template>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="successMessage" class="alert {{successClass}}">
  {{successMessage}}
</div>
<div *ngIf="dangerMessage" class="alert {{dangerClass}}">
  {{dangerMessage}}
</div>
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
