<div class="formation-container">
    <div class="formation">
        <img class="formationImage" src="{{imagepath}}{{dataobject.img}}" alt="Formation Image">
        <div class="formationTitle">{{dataobject.titre}}</div>
        <div class="formationDescription">{{dataobject.description}}</div>
        <div class="formationPoints">Points de formation: {{dataobject.pointsf}}</div>
        <div class="formationMode">Mode de formation: {{dataobject.modeformation}}</div>
        <div class="formationNeeds">Besoin: {{dataobject.besoin}}</div>
        <div class="formationDomain">Domaine: {{dataobject.domaine}}</div>
        <div class="formationDomain">Formateur proposé pour cette formation (ID): {{dataobject.FormateurId}}</div>
    </div>
</div>

