
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                <li class="breadcrumb-item"><a href="/Moderator">Moderateur</a></li>
                <li class="breadcrumb-item" aria-current="page">Mon compte</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="page-header-title">
                <h2 class="mb-0 text-center">Mon compte</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header pb-0">
              <ul class="nav nav-tabs profile-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="profile-tab-1" data-bs-toggle="tab" href="#profile-1" role="tab" aria-selected="true">
                    <i class="ti ti-user me-2"></i>Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab-2" data-bs-toggle="tab" href="#profile-2" role="tab" aria-selected="true">
                    <i class="ti ti-file-text me-2"></i>Modifier compte
                  </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" id="profile-tab-3" data-bs-toggle="tab" href="#profile-3" role="tab" aria-selected="true">
                    <i class="ti ti-id me-2"></i>Mon Compte
                  </a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab-4" data-bs-toggle="tab" href="#profile-4" role="tab" aria-selected="true">
                    <i class="ti ti-lock me-2"></i>Changer le mot de passe
                  </a>
                </li>
                
                
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane show active" id="profile-1" role="tabpanel" aria-labelledby="profile-tab-1">
                  <div class="row">
                    <div class="col-lg-4 col-xxl-3">
                      <div class="card">
                        <div class="card-body position-relative">
                          <!-- <div class="position-absolute end-0 top-0 p-3">
                            <span class="badge bg-primary">Pro</span>
                          </div> -->
                          <div class="text-center mt-3">
                            <div class="chat-avtar d-inline-flex mx-auto">
                              <img class="rounded-circle img-fluid wid-70" src="assets/moderateur.jpg" alt="User image">
                            </div>
                            <h5 class="mb-0">Moderateur</h5>
                            <p class="text-muted text-sm">Superviseur de la Communauté</p>
                            <hr class="my-3">
                           
                        
                            <div class="d-inline-flex align-items-center justify-content-between w-100 mb-3">
                              <i class="ti ti-mail"></i>
                              <p class="mb-0"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="86e7e8f5eee7e8c6e1ebe7efeaa8e5e9eb">[ZouaghuiFiras72@gmail.com]</a></p>
                            </div>
                            <div class="d-inline-flex align-items-center justify-content-between w-100 mb-3">
                              <i class="ti ti-phone"></i>
                              <p class="mb-0">(+216) 92 139 847</p>
                            </div>
                            <div class="d-inline-flex align-items-center justify-content-between w-100 mb-3">
                              <i class="ti ti-map-pin"></i>
                              <p class="mb-0">Beja,Tunisia</p>
                            </div>
                           
                          </div>
                        </div>
                      </div>


                      
                    </div>
                    <div class="col-lg-8 col-xxl-9">
                      <div class="card">
                        <div class="card-header">
                          <h5>À propos de moi</h5>
                        </div>
                        <div class="card-body">
                          <p class="mb-0">En tant que modérateur de la plateforme Connected, je m'engage à maintenir un environnement sûr, respectueux et inclusif pour tous les utilisateurs. Avec une approche proactive de la résolution des conflits et une communication transparente, je veille à ce que les lignes directrices de la communauté soient respectées tout en soutenant et en promouvant des interactions positives entre les membres.</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header">
                          <h5>Informations personnelles</h5>
                        </div>
                        <div class="card-body">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0 pt-0">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="mb-1 text-muted">Nom</p>
                                  <p class="mb-0">Moderateur</p>
                                </div>
                                <div class="col-md-6">
                                  <p class="mb-1 text-muted">Prenom</p>
                                  <p class="mb-0">Moderateur</p>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item px-0">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="mb-1 text-muted">Téléphone</p>
                                  <p class="mb-0">(+216) 92 139 847</p>
                                </div>
                                <div class="col-md-6">
                                  <p class="mb-1 text-muted">Country</p>
                                  <p class="mb-0">Beja</p>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item px-0">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="mb-1 text-muted">Email</p>
                                  <p class="mb-0"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e5848b968d848bcb818dddd4a58288848c89cb868a88">[ZouaghuiFiras72@gmail.com]</a></p>
                                </div>
                                <div class="col-md-6">
                                  <p class="mb-1 text-muted">Nom d'utilisateur</p>
                                  <p class="mb-0">Moderateur</p>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item px-0 pb-0">
                              <p class="mb-1 text-muted">Adresse</p>
                              <p class="mb-0">Beja,Tunisia</p>
                            </li>
                          </ul>
                        </div>
                      </div>





                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="profile-2" role="tabpanel" aria-labelledby="profile-tab-2">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="card">
                        <div class="card-header">
                          <h5>Informations personnelles</h5>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12 text-center mb-3">
                              <div class="profile-upload-container">
                                <!-- Image de l'avatar -->
                                <img src="assets/profileA/images/avatar-4.jpg" alt="Avatar" class="profile-avatar img-fluid">
                                
                                <!-- Bouton d'importation de l'image -->
                                <label for="uploadAvatar" class="upload-avatar-button">
                                    <i class="icon ti ti-camera f-24 mb-1"></i>
                                    <span>Importer une photo</span>
                                </label>
                                
                                <!-- Input caché pour le téléchargement de l'image -->
                                <input type="file" id="uploadAvatar" class="hidden-input">
                            </div>
                            
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="form-label">Nom</label>
                                <input type="text" class="form-control" value="Anshan">
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="form-label">Prénom</label>
                                <input type="text" class="form-control" value="Handgun">
                              </div>
                            </div>
                           
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="form-label">Nom d'utilisateur</label>
                                <input type="text" class="form-control" value="Moderateur">
                              </div>
                            </div>
                           
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="form-label">Expérience</label>
                                <select class="form-control">
                                  <option>Startup</option>
                                  <option>2 ans</option>
                                  <option>3 ans</option>
                                  <option selected="">4 ans</option>
                                  <option>5 ans</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      
                      <div class="card">
                        <div class="card-header">
                          <h5>Informations de contact</h5>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="form-label">Téléphone</label>
                                <input type="text" class="form-control" value="(+216) 9999 999 999">
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="form-label">Email <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" value="demo@sample.com">
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="form-label">Portfolio</label>
                                <input type="text" class="form-control" value="https://moderateur.com">
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="form-label">Address</label>
                                <textarea class="form-control">Beja,Tunisia</textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-end btn-page">
                      <div class="btn btn-outline-secondary">Annuler</div>
                      <div class="btn btn-primary">Mettre à jour le profile</div>
                    </div>
                  </div>
                </div>
                <!-- <div class="tab-pane" id="profile-3" role="tabpanel" aria-labelledby="profile-tab-3">
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header">
                          <h5>Paramètres généraux</h5>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="form-label">Nom d'utilisateur <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" value="Moderateur">
                                <small class="form-text text-muted">L'URL de votre profil:
                                  https://pc.com/moderateur</small>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="form-label">Adresse e-mail du compte <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" value="demo@sample.com">
                              </div>
                            </div>
                           
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="form-label">Se connecter en utilisant</label>
                                <select class="form-control">
                                  <option>Mot de passe</option>
                                  <option>Reconnaissance faciale</option>
                                  <option>Empreinte digitale</option>
                                  <option>Clé</option>
                                  <option>Code PIN</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="card">
                        <div class="card-header">
                          <h5>Paramètres avancés</h5>
                        </div>
                        <div class="card-body">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0 pt-0">
                              <div class="d-flex align-items-center justify-content-between">
                                <div>
                                  <p class="mb-1">Navigation sécurisée</p>
                                  <p class="text-muted text-sm mb-0">Navigation sécurisée (https) quand c'est nécessaire*</p>
                                </div>
                                <div class="form-check form-switch p-0">
                                  <input class="form-check-input h4 position-relative m-0" type="checkbox" role="switch" checked="">
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item px-0">
                              <div class="d-flex align-items-center justify-content-between">
                                <div>
                                  <p class="mb-1">Notifications de connexion</p>
                                  <p class="text-muted text-sm mb-0">Notifier lorsqu'une tentative de connexion est effectuée depuis un autre endroit</p>
                                </div>
                                <div class="form-check form-switch p-0">
                                  <input class="form-check-input h4 position-relative m-0" type="checkbox" role="switch" checked="">
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item px-0 pb-0">
                              <div class="d-flex align-items-center justify-content-between">
                                <div>
                                  <p class="mb-1">Validation de connexion</p>
                                  <p class="text-muted text-sm mb-0">Les approbations ne sont pas requises lors de la connexion à partir d'appareils non reconnus.</p>
                                </div>
                                <div class="form-check form-switch p-0">
                                  <input class="form-check-input h4 position-relative m-0" type="checkbox" role="switch" checked="">
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="card">
                        <div class="card-header">
                          <h5>Appareils autorisés</h5>
                        </div>
                        <div class="card-body">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0 pt-0">
                              <div class="d-flex align-items-center justify-content-between">
                                <div class="me-2">
                                  <p class="mb-2">Celt Bureau</p>
                                  <p class="mb-0 text-muted">4351 Deans Lane</p>
                                </div>
                                <div class="">
                                  <div class="text-success d-inline-block me-2">
                                    <i class="fas fa-circle f-8 me-2"></i>
                                    Actif actuel
                                  </div>
                                  <a href="#!" class="text-danger"><i class="feather icon-x-circle"></i></a>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item px-0">
                              <div class="d-flex align-items-center justify-content-between">
                                <div class="me-2">
                                  <p class="mb-2">Imco Tablet</p>
                                  <p class="mb-0 text-muted">4185 Michigan Avenue</p>
                                </div>
                                <div class="">
                                  <div class="text-muted d-inline-block me-2">
                                    <i class="fas fa-circle f-8 me-2"></i>
                                    Actif il y a 5 jours
                                  </div>
                                  <a href="#!" class="text-danger"><i class="feather icon-x-circle"></i></a>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item px-0 pb-0">
                              <div class="d-flex align-items-center justify-content-between">
                                <div class="me-2">
                                  <p class="mb-2">Albs Mobile</p>
                                  <p class="mb-0 text-muted">3462 Fairfax Drive</p>
                                </div>
                                <div class="">
                                  <div class="text-muted d-inline-block me-2">
                                    <i class="fas fa-circle f-8 me-2"></i>
                                    Actif il y a 1 mois
                                  </div>
                                  <a href="#!" class="text-danger"><i class="feather icon-x-circle"></i></a>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      
                    </div>
                    <div class="col-12 text-end">
                      <button class="btn btn-outline-dark ms-2">Effacer</button>
                      <button class="btn btn-primary">Mettre à jour le profil</button>
                    </div>
                  </div>
                </div> -->
                <div class="tab-pane" id="profile-4" role="tabpanel" aria-labelledby="profile-tab-4">
                  <div class="card">
                    <div class="card-header">
                      <h5>Changer de mot de passe</h5>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-label">Ancien mot de passe</label>
                            <input type="password" class="form-control">
                          </div>
                          <div class="form-group">
                            <label class="form-label">Nouveau mot de passe</label>
                            <input type="password" class="form-control">
                          </div>
                          <div class="form-group">
                            <label class="form-label">Confirmer le mot de passe</label>
                            <input type="password" class="form-control">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <h5>Le nouveau mot de passe doit contenir :</h5>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="ti ti-minus me-2"></i> Au moins 8 caractères</li>
                            <li class="list-group-item"><i class="ti ti-minus me-2"></i> Au moins 1 lettre minuscule (a-z)
                            </li>
                            <li class="list-group-item"><i class="ti ti-minus me-2"></i> Au moins 1 lettre majuscule
                              (A-Z)</li>
                            <li class="list-group-item"><i class="ti ti-minus me-2"></i> Au moins 1 chiffre (0-9)</li>
                            <li class="list-group-item"><i class="ti ti-minus me-2"></i> Au moins 1 caractère spécial
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-end btn-page">
                      <div class="btn btn-outline-secondary">Annuler</div>
                      <div class="btn btn-primary">Mettre à jour le profil</div>
                    </div>
                  </div>
                </div>
                
               
              </div>
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  


  