<!-- <header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <h1 class="text-light"><a href="index.html"><span style="font-family: 'Arial Black', sans-serif; font-size: 40px; color: #0888f0; text-shadow: 2px 2px 4px rgba(0,0,0,0.3);"><i class="fas fa-users"></i>C<span style="font-size: 32px; color:#0888f0 ;">onnected</span></span></a></h1>
    </div>
    <nav class="nav-menu d-none d-lg-block">
  <ul>
    <li class="active"><a href="index.html">Accueil</a></li>
    <li class="dropdown">
      <a href="#" id="nos-formations">Nos Formations <i class="fas fa-chevron-down"></i></a>
      <ul class="dropdown-menu" id="nos-formations-menu">
        <li><a href="#Dev-web"><i class="fas fa-laptop-code"></i> Formation en Computer Science</a></li>
        <li><a href="#marketing"><i class="fas fa-bullhorn"></i> Formation en Marketing</a></li>
        <li><a href="#designe"><i class="fas fa-paint-brush"></i> Formation en Design</a></li>
        <li><a href="#data"><i class="fas fa-database"></i> Formation en Data</a></li>
      </ul>
    </li>
    
    
    <li><a href="#services">Services</a></li>
    <li><a href="#pricing">Tarifs</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>.nav-menu -->

<!-- Boutons de connexion et inscription avec icônes plus petites -->
<!-- <div class="login-signup-buttons ml-4">
   <a href="#" class="btn btn-login"><i class="icofont-key icofont-1x"></i> Connexion</a> 
  <a routerLink="/loginuser" class="btn btn-signup"><i class="icofont-user icofont-1x"></i> Inscription</a>
</div>


  </div>
</header> End Header -->




 
 
 <!-- ======= Hero Section ======= -->
  <section id="hero">
  
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div >
            <h1>Connectez-vous et partagez vos expériences scientifiques</h1>
            <h2 style="color: rgb(47, 126, 228); font-weight: bold;">Facilitez la collaboration et l'apprentissage entre professionnels</h2>
            <a href="#about" class="btn-get-started scrollto">Commencer</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <!-- Remplacez l'URL de l'image par votre propre image -->
           <img src="assets/img/hero-img.png" class="img-fluid" alt="Hero Image"> 
          
        
<!-- 
           <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="assets/animation/Animation1.json" background="transparent" speed="1" style="width: 300px; height: 300px" direction="1" mode="normal" loop controls autoplay></lottie-player> -->
        </div>
      </div>
    </div>
  
  </section><!-- End Hero -->

  
  <!-- ======= Section À Propos ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-4" data-aos="fade-up">
        <h3 class="section-title">Bienvenue sur Connected</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" data-aos="zoom-in">
        <!-- Remplacez l'URL de l'image par une image représentative -->
        <img src="assets/img/about.jpg" class="img-fluid" alt="À propos de nous">
      </div>
      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-left">
        <div class="content">
          <p class="font-italic black-text">
            Connected est une plateforme dédiée aux professionnels scientifiques pour l'échange d'expériences et de connaissances.
          </p>
          <ul class="black-text">
            <li><i class="icofont-check-circled"></i> Partagez vos compétences et apprenez des autres professionnels.</li>
            <li><i class="icofont-check-circled"></i> Collaborez avec des experts de votre domaine pour développer de nouvelles compétences.</li>
            <li><i class="icofont-check-circled"></i> Connectez-vous avec des professionnels du monde entier pour étendre votre réseau.</li>
          </ul>
          <p class="black-text">
            Que vous soyez chercheur, ingénieur, enseignant ou étudiant, Connected vous offre un espace pour partager votre passion pour les sciences et explorer de nouvelles opportunités.
          </p>
        </div>
      </div>
    </div>
  </div>
</section><!-- Fin de la Section À Propos -->

  
  



  <!-- ======= Section des Caractéristiques ======= -->
<section id="features" class="features">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item" data-aos="fade-up">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">
              <h4>Partage d'Expertise</h4>
              <p>Connectez-vous avec d'autres professionnels pour partager votre expertise et vos connaissances dans votre domaine spécifique.</p>
            </a>
          </li>
          <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
            <a class="nav-link" data-toggle="tab" href="#tab-2">
              <h4>Formation sur Mesure</h4>
              <p>Recevez des formations personnalisées pour développer vos compétences professionnelles selon vos besoins précis.</p>
            </a>
          </li>
          <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
            <a class="nav-link" data-toggle="tab" href="#tab-3">
              <h4>Réseautage de Qualité</h4>
              <p>Élargissez votre réseau professionnel en interagissant avec des experts de renommée mondiale et participez à des événements exclusifs.</p>
            </a>
          </li>
          <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="300">
            <a class="nav-link" data-toggle="tab" href="#tab-4">
              <h4>Collaboration Simplifiée</h4>
              <p>Travaillez en collaboration sur des projets, partagez des ressources et créez des opportunités de collaboration avec d'autres professionnels de premier plan.</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <figure>
              <img src="assets/img/features-1.png" alt="Partage d'Expertise" class="img-fluid">
            </figure>
          </div>
          <div class="tab-pane" id="tab-2">
            <figure>
              <img src="assets/img/features-2.png" alt="Formation sur Mesure" class="img-fluid">
            </figure>
          </div>
          <div class="tab-pane" id="tab-3">
            <figure>
              <img src="assets/img/features-3.png" alt="Réseautage de Qualité" class="img-fluid">
            </figure>
          </div>
          <div class="tab-pane" id="tab-4">
            <figure>
              <img src="assets/img/features-4.png" alt="Collaboration Simplifiée" class="img-fluid">
            </figure>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- Fin de la Section des Caractéristiques -->

<!-- ======= Section des Services ======= -->
<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2 style="color: black; font-weight: bold;">Nos services</h2>
      <p>Découvrez nos services spécialisés, conçus pour répondre aux besoins uniques des professionnels connectés.</p>
    </div>

    <div class="row services-container justify-content-center">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
        <div class="icon-box icon-box-pink">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="#">Sessions de Partage</a></h4>
          <p class="description">Engagez-vous dans des sessions interactives pour partager vos expériences et élargir votre vision du monde professionnel.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box icon-box-cyan">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="#">Formations Sur Mesure</a></h4>
          <p class="description">Bénéficiez de formations sur mesure pour renforcer vos compétences et atteindre vos objectifs professionnels avec succès.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box icon-box-green">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="#">Réseautage Premium</a></h4>
          <p class="description">Connectez-vous avec des professionnels influents et élargissez votre cercle professionnel grâce à notre réseau de qualité supérieure.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box icon-box-blue">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4 class="title"><a href="#">Collaboration Efficace</a></h4>
          <p class="description">Favorisez une collaboration fluide et efficace en travaillant ensemble sur des projets innovants et en partageant des ressources précieuses.</p>
        </div>
      </div>

      <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box icon-box-purple">
          <div class="icon"><i class="bx bx-support"></i></div>
          <h4 class="title"><a href="#">Assistance Personnalisée</a></h4>
          <p class="description">Profitez d'une assistance personnalisée pour résoudre rapidement les problèmes et maximiser votre expérience sur notre plateforme.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box icon-box-orange">
          <div class="icon"><i class="bx bx-rocket"></i></div>
          <h4 class="title"><a href="#">Innovation Technologique</a></h4>
          <p class="description">Restez à la pointe de l'innovation grâce à notre expertise en matière de nouvelles technologies et de tendances émergentes.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box icon-box-yellow">
          <div class="icon"><i class="bx bx-chat"></i></div>
          <h4 class="title"><a href="#">Support Communautaire</a></h4>
          <p class="description">Bénéficiez du soutien et des conseils de notre communauté dynamique de professionnels connectés pour résoudre vos défis professionnels.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box icon-box-red">
          <div class="icon"><i class="bx bx-heart"></i></div>
          <h4 class="title"><a href="#">Bien-être et Équilibre</a></h4>
          <p class="description">Explorez des programmes dédiés au bien-être physique et mental pour maintenir un équilibre sain dans votre vie professionnelle et personnelle.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box icon-box-teal">
          <div class="icon"><i class="bx bx-group"></i></div>
          <h4 class="title"><a href="#">Gestion de Projet Collaborative</a></h4>
          <p class="description">Optimisez la gestion de vos projets grâce à notre plateforme collaborative, permettant une coordination efficace entre les membres de votre équipe.</p>
        </div>
      </div> -->
      
    </div>
  </div>
</section>
  
  
  
  
  
   <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container">
  
      <div class="section-title" data-aos="fade-up">
        <h2 style="color: black; font-weight: bold;">Team</h2>
        <p>Découvrez les membres talentueux qui composent notre équipe chez Connected.</p>
      </div>
  
      <div class="row">
  
        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="zoom-in">
            <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Bilel Amdouni</h4>
              <span>Directeur Génerale</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Ahmed Mahouechi</h4>
              <span>Chef du projet</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="200">
            <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4></h4>
              <span></span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="200">
            <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4></h4>
              <span></span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </section><!-- End Team Section -->
  
  
  
  
  
  
  
  
   
  
  
  
  
    <!-- ======= Section FAQ ======= -->
  <section id="faq" class="faq">
    <div class="container">
  
      <div class="section-title" data-aos="fade-up">
        <h2 style="color: black; font-weight: bold;">Questions fréquemment posées</h2>
      </div>
  
      <ul class="faq-list">
  
        <li data-aos="fade-up">
          <a data-toggle="collapse" class="collapsed" href="#faq1">Est-ce que Connected propose des solutions de connectivité sécurisées ? <i class="icofont-simple-up"></i></a>
          <div id="faq1" class="collapse " data-parent=".faq-list">
            <p>
              Oui, Connected propose des solutions de connectivité hautement sécurisées pour assurer la protection de vos données et de votre réseau.
            </p>
          </div>
        </li>
  
        <li data-aos="fade-up" data-aos-delay="100">
          <a data-toggle="collapse" href="#faq2" class="collapsed">Quels sont les services supplémentaires offerts par Connected ? <i class="icofont-simple-up"></i></a>
          <div id="faq2" class="collapse" data-parent=".faq-list">
            <p>
              Connected propose une gamme de services supplémentaires, y compris la surveillance en temps réel, l'analyse de données avancée et le support technique dédié.
            </p>
          </div>
        </li>
  
        <li data-aos="fade-up" data-aos-delay="200">
          <a data-toggle="collapse" href="#faq3" class="collapsed">Comment puis-je souscrire à un abonnement chez Connected ? <i class="icofont-simple-up"></i></a>
          <div id="faq3" class="collapse" data-parent=".faq-list">
            <p>
              Vous pouvez souscrire à un abonnement chez Connected en visitant notre site web et en choisissant le plan qui correspond le mieux à vos besoins. Vous pouvez également nous contacter pour obtenir de l'aide supplémentaire.
            </p>
          </div>
        </li>
  
        <li data-aos="fade-up" data-aos-delay="300">
          <a data-toggle="collapse" href="#faq4" class="collapsed">Est-ce que Connected propose des solutions personnalisées pour les entreprises ? <i class="icofont-simple-up"></i></a>
          <div id="faq4" class="collapse" data-parent=".faq-list">
            <p>
              Oui, Connected propose des solutions personnalisées pour répondre aux besoins spécifiques des entreprises, y compris l'intégration avec d'autres systèmes et la personnalisation avancée des fonctionnalités.
            </p>
          </div>
        </li>
  
        <li data-aos="fade-up" data-aos-delay="400">
          <a data-toggle="collapse" href="#faq5" class="collapsed">Est-ce que Connected offre un support client 24/7 ? <i class="icofont-simple-up"></i></a>
          <div id="faq5" class="collapse" data-parent=".faq-list">
            <p>
              Oui, Connected propose un support client disponible 24 heures sur 24, 7 jours sur 7 pour répondre à vos questions et résoudre vos problèmes rapidement et efficacement.
            </p>
          </div>
        </li>
  
        <li data-aos="fade-up" data-aos-delay="500">
          <a data-toggle="collapse" href="#faq6" class="collapsed">Est-ce que Connected propose des solutions de connectivité pour les appareils IoT ? <i class="icofont-simple-up"></i></a>
          <div id="faq6" class="collapse" data-parent=".faq-list">
            <p>
              Oui, Connected propose des solutions de connectivité spécialement conçues pour les appareils IoT, offrant une connectivité fiable et sécurisée pour les objets connectés.
            </p>
          </div>
        </li>
  
      </ul>
  
    </div>
  </section><!-- Fin de la section FAQ -->
  
  
  
  
  
  
  
  <!-- ======= Pied de page ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Connected</h3>
            <p>
              <strong>Adresse:</strong> Béja l'avenir , Béja Nord 9000 Tunisie | Cyber Parc Béja 9000<br>
              <br>
              <strong>Téléphone:</strong>+216 92 139 847<br>
              <strong>Email:</strong>ZouaghuiFiras72@gmail.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Liens utiles</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">À propos de nous</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Conditions d'utilisation</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Politique de confidentialité</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nos services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Conception Web</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Développement Web</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Gestion de Produit</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Design Graphique</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Notre Newsletter</h4>
          <p>Abonnez-vous à notre newsletter pour recevoir les dernières actualités et offres spéciales.</p>
          <form action="" method="post">
            <input type="email" name="email" placeholder="Entrez votre email"><input type="submit" value="S'abonner">
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="credits">
      &copy; Droits d'auteur <strong><span>Connected</span></strong>. Tous les droits sont réservés
    </div>
  </div>
</footer><!-- Fin du pied de page -->


  <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>
  <!-- </main>End #main -->
  
  