<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
        data-aos="fade-up">
        <div>
          <h1>Connectez-vous et partagez vos expériences scientifiques</h1>
          <h2 style="color: rgb(47, 126, 228); font-weight: bold;">Facilitez la collaboration et l'apprentissage entre
            professionnels</h2>
          <a href="#about" class="btn-get-started scrollto">Commencer</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <!-- Remplacez l'URL de l'image par votre propre image -->
        <img src="assets/img/hero-img.png" class="img-fluid" alt="Hero Image">
      </div>
    </div>
  </div>
</section><!-- End Hero -->


<!-- ======= Section À Propos ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-4" data-aos="fade-up">
        <h3 class="section-title">Bienvenue sur The Bridge</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" data-aos="zoom-in">
        <!-- Remplacez l'URL de l'image par une image représentative -->
        <img src="assets/img/about.jpg" class="img-fluid" alt="À propos de nous">
      </div>
      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-left">
        <div class="content">
          <p class="font-italic black-text">
            The Bridge est une plateforme dédiée aux professionnels scientifiques pour l'échange d'expériences et de
            connaissances.
          </p>
          <ul class="black-text">
            <li><i class="icofont-check-circled"></i> Partagez vos compétences et apprenez des autres professionnels.
            </li>
            <li><i class="icofont-check-circled"></i> Collaborez avec des experts de votre domaine pour développer de
              nouvelles compétences.</li>
            <li><i class="icofont-check-circled"></i> Connectez-vous avec des professionnels du monde entier pour
              étendre votre réseau.</li>
          </ul>
          <p class="black-text">
            Que vous soyez chercheur, ingénieur, enseignant ou étudiant, The Bridge vous offre un espace pour partager
            votre passion pour les sciences et explorer de nouvelles opportunités.
          </p>
        </div>
      </div>
    </div>
  </div>
</section><!-- Fin de la Section À Propos -->


<!-- ======= Section des Caractéristiques ======= -->
<section id="features" class="features">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item" data-aos="fade-up">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">
              <h4>Partage d'Expertise</h4>
              <p>Connectez-vous avec d'autres professionnels pour partager votre expertise et vos connaissances dans
                votre domaine spécifique.</p>
            </a>
          </li>
          <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
            <a class="nav-link" data-toggle="tab" href="#tab-2">
              <h4>Formation sur Mesure</h4>
              <p>Recevez des formations personnalisées pour développer vos compétences professionnelles selon vos
                besoins précis.</p>
            </a>
          </li>
          <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
            <a class="nav-link" data-toggle="tab" href="#tab-3">
              <h4>Réseautage de Qualité</h4>
              <p>Élargissez votre réseau professionnel en interagissant avec des experts de renommée mondiale et
                participez à des événements exclusifs.</p>
            </a>
          </li>
          <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="300">
            <a class="nav-link" data-toggle="tab" href="#tab-4">
              <h4>Collaboration Simplifiée</h4>
              <p>Travaillez en collaboration sur des projets, partagez des ressources et créez des opportunités de
                collaboration avec d'autres professionnels de premier plan.</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <figure>
              <img src="assets/img/features-1.png" alt="Partage d'Expertise" class="img-fluid">
            </figure>
          </div>
          <div class="tab-pane" id="tab-2">
            <figure>
              <img src="assets/img/features-2.png" alt="Formation sur Mesure" class="img-fluid">
            </figure>
          </div>
          <div class="tab-pane" id="tab-3">
            <figure>
              <img src="assets/img/features-3.png" alt="Réseautage de Qualité" class="img-fluid">
            </figure>
          </div>
          <div class="tab-pane" id="tab-4">
            <figure>
              <img src="assets/img/features-4.png" alt="Collaboration Simplifiée" class="img-fluid">
            </figure>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- Fin de la Section des Caractéristiques -->

<!-- ======= Section des Services ======= -->
<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2 style="color: black; font-weight: bold;">Nos services</h2>
      <p>Découvrez nos services spécialisés, conçus pour répondre aux besoins uniques des professionnels connectés.</p>
    </div>

    <div class="services-slider">
      <div class="slide-track">
        <div class="slide">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="#">Sessions de Partage</a></h4>
            <p class="description1">Engagez-vous dans des sessions interactives pour partager vos expériences et élargir
              votre vision du monde professionnel.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="#">Formations Sur Mesure</a></h4>
            <p class="description1">Bénéficiez de formations sur mesure pour renforcer vos compétences et atteindre vos
              objectifs professionnels avec succès.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-green">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="#">Réseautage Premium</a></h4>
            <p class="description1">Connectez-vous avec des professionnels influents et élargissez votre cercle
              professionnel grâce à notre réseau de qualité supérieure.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="#">Collaboration Efficace</a></h4>
            <p class="description1">Favorisez une collaboration fluide et efficace en travaillant ensemble sur des
              projets innovants et en partageant des ressources précieuses.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-yellow">
            <div class="icon"><i class="bx bx-search-alt"></i></div>
            <h4 class="title"><a href="#">Veille Scientifique</a></h4>
            <p class="description1">Restez informé des dernières avancées dans votre domaine grâce à notre système de
              veille scientifique automatisée.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-purple">
            <div class="icon"><i class="bx bx-book"></i></div>
            <h4 class="title"><a href="#">Publication Scientifique</a></h4>
            <p class="description1">Partagez vos recherches avec la communauté scientifique mondiale grâce à notre
              plateforme dédiée et boostez votre visibilité.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-orange">
            <div class="icon"><i class="bx bx-data"></i></div>
            <h4 class="title"><a href="#">Analyse de Données</a></h4>
            <p class="description1">Tirez des insights précieux de vos données scientifiques grâce à nos outils
              d'analyse de pointe, pour une recherche plus efficace.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-red">
            <div class="icon"><i class="bx bx-calendar-event"></i></div>
            <h4 class="title"><a href="#">Événements Scientifiques</a></h4>
            <p class="description1">Participez à nos événements scientifiques exclusifs pour échanger avec des experts
              de renommée mondiale et développer votre réseau.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-laptop"></i></div>
            <h4 class="title"><a href="#">Plateforme Collaborative</a></h4>
            <p class="description1">Travaillez de manière collaborative sur des projets scientifiques et partagez des
              ressources avec votre équipe, où que vous soyez.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bx bx-book-alt"></i></div>
            <h4 class="title"><a href="#">Ressources Scientifiques</a></h4>
            <p class="description1">Accédez à une bibliothèque de ressources scientifiques variées pour enrichir vos
              recherches et approfondir vos connaissances.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-help-circle"></i></div>
            <h4 class="title"><a href="#">Support Technique</a></h4>
            <p class="description1">Bénéficiez d'un support technique dédié pour répondre à vos questions et résoudre
              tout problème technique rapidement et efficacement.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-gray">
            <div class="icon"><i class="bx bx-group"></i></div>
            <h4 class="title"><a href="#">Communauté Engagée</a></h4>
            <p class="description1">Faites partie d'une communauté engagée de scientifiques partageant les mêmes
              intérêts, prêts à collaborer et à partager leurs connaissances.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-silver">
            <div class="icon"><i class="bx bx-coin-stack"></i></div>
            <h4 class="title"><a href="#">Financement de Projets</a></h4>
            <p class="description1">Accédez à des opportunités de financement pour soutenir vos projets de recherche et
              d'innovation dans votre domaine scientifique.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-gold">
            <div class="icon"><i class="bx bx-pie-chart-alt"></i></div>
            <h4 class="title"><a href="#">Analyse de Performance</a></h4>
            <p class="description1">Évaluez et optimisez la performance de vos projets et de votre équipe grâce à des
              outils d'analyse avancés.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-violet">
            <div class="icon"><i class="bx bx-book-reader"></i></div>
            <h4 class="title"><a href="#">Formation Continue</a></h4>
            <p class="description1">Continuez à développer vos compétences et vos connaissances grâce à notre programme
              de formation continue adapté aux professionnels scientifiques.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-azure">
            <div class="icon"><i class="bx bx-health"></i></div>
            <h4 class="title"><a href="#">Bien-être au Travail</a></h4>
            <p class="description1">Investissez dans le bien-être de vos employés avec des programmes et des initiatives
              visant à promouvoir la santé mentale et physique au travail.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-orange">
            <div class="icon"><i class="bx bx-line-chart"></i></div>
            <h4 class="title"><a href="#">Analyse de Tendances</a></h4>
            <p class="description1">Identifiez les tendances émergentes dans votre domaine grâce à des analyses
              approfondies et des prévisions basées sur les données.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-yellow">
            <div class="icon"><i class="bx bx-message-detail"></i></div>
            <h4 class="title"><a href="#">Communication </a></h4>
            <p class="description1">Améliorez la diffusion de vos recherches et découvertes grâce à des stratégies de
              communication scientifique efficaces.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-network-chart"></i></div>
            <h4 class="title"><a href="#">Analyse de Réseau</a></h4>
            <p class="description1">Analysez les réseaux sociaux et professionnels pour découvrir des opportunités de
              collaboration et d'échange d'expertise.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-green">
            <div class="icon"><i class="bx bx-certification"></i></div>
            <h4 class="title"><a href="#">Certification Exellent</a></h4>
            <p class="description1">Obtenez une certification reconnue dans votre domaine pour valider vos compétences
              et votre expertise.</p>
          </div>
        </div>


      </div>
    </div>

  </div>
</section>








<section id="team" class="team section-bg">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2 style="color: black; font-weight: bold;">Nos Formations</h2>
      <p>Explorez notre gamme de formations spécialisées, élaborées pour satisfaire les besoins spécifiques des
        professionnels du secteur.</p>
    </div>

    <div class="services-slider">
      <div class="slide-track">
        <div class="slide">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-book"></i></div>
            <h4 class="title"><a href="#">Développement Web</a></h4>
            <p class="description1">Apprenez les compétences nécessaires pour devenir un développeur web complet, de
              HTML à JavaScript en passant par les frameworks modernes.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-red">
            <div class="icon"><i class="bx bx-brain"></i></div>
            <h4 class="title"><a href="#">Intelligence Artificielle</a></h4>
            <p class="description1">Explorez les concepts de l'intelligence artificielle, y compris l'apprentissage
              automatique, l'apprentissage profond et l'analyse des données.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-green">
            <div class="icon"><i class="bx bx-paint"></i></div>
            <h4 class="title"><a href="#">Design Graphique</a></h4>
            <p class="description1">Développez vos compétences en design graphique et apprenez à utiliser des outils
              comme Photoshop, Illustrator et InDesign.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-yellow">
            <div class="icon"><i class="bx bx-chart"></i></div>
            <h4 class="title"><a href="#">Marketing Digital</a></h4>
            <p class="description1">Maîtrisez les stratégies de marketing digital, y compris le SEO, le SEM, les réseaux
              sociaux et l'analyse de données.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-purple">
            <div class="icon"><i class="bx bx-data"></i></div>
            <h4 class="title"><a href="#">Science des Données</a></h4>
            <p class="description1">Plongez dans le monde de la science des données et apprenez à manipuler et analyser
              des ensembles de données complexes.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-teal">
            <div class="icon"><i class="bx bx-shield"></i></div>
            <h4 class="title"><a href="#">Cybersécurité</a></h4>
            <p class="description1">Apprenez à protéger les systèmes informatiques contre les cybermenaces et à
              sécuriser les données sensibles.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-orange">
            <div class="icon"><i class="bx bx-briefcase"></i></div>
            <h4 class="title"><a href="#">Gestion de Projet</a></h4>
            <p class="description1">Développez vos compétences en gestion de projet, y compris la planification,
              l'exécution et la clôture de projets efficaces.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bx bx-dollar"></i></div>
            <h4 class="title"><a href="#">Finance</a></h4>
            <p class="description1">Maîtrisez les principes de la finance, y compris la gestion des investissements, la
              comptabilité et l'analyse financière.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-brown">
            <div class="icon"><i class="bx bx-group"></i></div>
            <h4 class="title"><a href="#">Ressources Humaines</a></h4>
            <p class="description1">Apprenez à gérer le capital humain d'une organisation, y compris le recrutement, la
              formation et la gestion des talents.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-network-chart"></i></div>
            <h4 class="title"><a href="#">Réseaux Informatiques</a></h4>
            <p class="description1">Apprenez à concevoir, installer et gérer des réseaux informatiques pour assurer une
              communication efficace et sécurisée.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-lime">
            <div class="icon"><i class="bx bx-code-block"></i></div>
            <h4 class="title"><a href="#">Programmation Avancée</a></h4>
            <p class="description1">Approfondissez vos compétences en programmation avec des concepts avancés et des
              langages de programmation modernes.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-maroon">
            <div class="icon"><i class="bx bx-rocket"></i></div>
            <h4 class="title"><a href="#">Entrepreneuriat</a></h4>
            <p class="description1">Découvrez les compétences nécessaires pour démarrer et gérer votre propre entreprise
              avec succès.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-navy">
            <div class="icon"><i class="bx bx-analytics"></i></div>
            <h4 class="title"><a href="#">Analyse de Données</a></h4>
            <p class="description1">Apprenez à analyser et interpréter des données pour prendre des décisions éclairées
              basées sur des faits.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-silver">
            <div class="icon"><i class="bx bx-pie-chart-alt"></i></div>
            <h4 class="title"><a href="#">Gestion Financière</a></h4>
            <p class="description1">Maîtrisez les principes de la gestion financière pour optimiser les ressources et
              assurer la santé financière de votre organisation.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-olive">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="#">Langues Étrangères</a></h4>
            <p class="description1">Apprenez de nouvelles langues pour élargir vos horizons professionnels et
              personnels.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-gold">
            <div class="icon"><i class="bx bx-heart"></i></div>
            <h4 class="title"><a href="#">Santé et Bien-être</a></h4>
            <p class="description1">Découvrez les meilleures pratiques pour maintenir un mode de vie sain et équilibré,
              tant physiquement que mentalement.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-rose">
            <div class="icon"><i class="bx bx-brush"></i></div>
            <h4 class="title"><a href="#">Arts et Créativité</a></h4>
            <p class="description1">Explorez votre créativité à travers des cours d'art, de musique, d'écriture et
              d'autres formes d'expression artistique.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-charcoal">
            <div class="icon"><i class="bx bx-microchip"></i></div>
            <h4 class="title"><a href="#">Électronique et Robotique</a></h4>
            <p class="description1">Apprenez les bases de l'électronique et de la robotique pour concevoir et construire
              vos propres projets technologiques.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-indigo">
            <div class="icon"><i class="bx bx-health"></i></div>
            <h4 class="title"><a href="#">Médecine et Soins de Santé</a></h4>
            <p class="description1">Acquérez des connaissances sur les pratiques médicales et les soins de santé pour
              améliorer votre compréhension du domaine médical.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-turquoise">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="#">Tourisme et Hôtellerie</a></h4>
            <p class="description1">Formez-vous aux métiers du tourisme et de l'hôtellerie pour offrir des expériences
              mémorables aux voyageurs.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-peach">
            <div class="icon"><i class="bx bx-car"></i></div>
            <h4 class="title"><a href="#">Automobile et Mécanique</a></h4>
            <p class="description1">Apprenez à entretenir et réparer des véhicules, ainsi qu'à comprendre les
              technologies automobiles modernes.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-plum">
            <div class="icon"><i class="bx bx-construction"></i></div>
            <h4 class="title"><a href="#">Ingénierie et Construction</a></h4>
            <p class="description1">Développez vos compétences en ingénierie et en construction pour participer à la
              conception et à la réalisation de projets d'infrastructure.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-coral">
            <div class="icon"><i class="bx bx-cog"></i></div>
            <h4 class="title"><a href="#">Maintenance Industrielle</a></h4>
            <p class="description1">Apprenez à assurer la maintenance et le bon fonctionnement des équipements
              industriels pour optimiser la production.</p>
          </div>
        </div>
        <div class="slide">
          <div class="icon-box icon-box-crimson">
            <div class="icon"><i class="bx bx-bulb"></i></div>
            <h4 class="title"><a href="#">Innovation et Créativité</a></h4>
            <p class="description1">Développez des compétences pour innover et stimuler la créativité dans divers
              domaines professionnels.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-lavender">
            <div class="icon"><i class="bx bx-cube"></i></div>
            <h4 class="title"><a href="#">Réalité Virtuelle et Augmentée</a></h4>
            <p class="description1">Explorez les technologies de la réalité virtuelle et augmentée et apprenez à créer
              des expériences immersives.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-aqua">
            <div class="icon"><i class="bx bx-leaf"></i></div>
            <h4 class="title"><a href="#">Développement Durable</a></h4>
            <p class="description1">Apprenez les pratiques de développement durable pour protéger l'environnement et
              promouvoir la responsabilité sociale.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-saffron">
            <div class="icon"><i class="bx bx-globe"></i></div>
            <h4 class="title"><a href="#">Relations Internationales</a></h4>
            <p class="description1">Étudiez les dynamiques des relations internationales et développez des compétences
              en diplomatie et en gestion des conflits.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-emerald">
            <div class="icon"><i class="bx bx-hand"></i></div>
            <h4 class="title"><a href="#">Travail Social</a></h4>
            <p class="description1">Formez-vous aux pratiques du travail social pour aider les individus et les
              communautés à améliorer leur qualité de vie.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-amber">
            <div class="icon"><i class="bx bx-dna"></i></div>
            <h4 class="title"><a href="#">Biotechnologie</a></h4>
            <p class="description1">Découvrez les principes de la biotechnologie et apprenez à appliquer des techniques
              biologiques à des fins industrielles et médicales.</p>
          </div>
        </div>

        <div class="slide">
          <div class="icon-box icon-box-mint">
            <div class="icon"><i class="bx bx-map"></i></div>
            <h4 class="title"><a href="#">Géographie et Cartographie</a></h4>
            <p class="description1">Étudiez les méthodes de géographie et de cartographie pour analyser et représenter
              des données géospatiales.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Section FAQ ======= -->
<section id="faq" class="faq">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2 style="color: black; font-weight: bold;">Questions fréquemment posées</h2>
    </div>

    <ul class="faq-list">

      <li data-aos="fade-up">
        <a data-toggle="collapse" class="collapsed" href="#faq1">Est-ce que The Bridge propose des solutions de
          connectivité sécurisées ? <i class="icofont-simple-up"></i></a>
        <div id="faq1" class="collapse " data-parent=".faq-list">
          <p>
            Oui, The Bridge propose des solutions de connectivité hautement sécurisées pour assurer la protection de vos
            données et de votre réseau.
          </p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="100">
        <a data-toggle="collapse" href="#faq2" class="collapsed">Quels sont les services supplémentaires offerts par The
          Bridge ? <i class="icofont-simple-up"></i></a>
        <div id="faq2" class="collapse" data-parent=".faq-list">
          <p>
            The Bridge propose une gamme de services supplémentaires, y compris la surveillance en temps réel, l'analyse
            de données avancée et le support technique dédié.
          </p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="200">
        <a data-toggle="collapse" href="#faq3" class="collapsed">Comment puis-je souscrire à un abonnement chez The
          Bridge ? <i class="icofont-simple-up"></i></a>
        <div id="faq3" class="collapse" data-parent=".faq-list">
          <p>
            Vous pouvez souscrire à un abonnement chez The Bridge en visitant notre site web et en choisissant le plan
            qui correspond le mieux à vos besoins. Vous pouvez également nous contacter pour obtenir de l'aide
            supplémentaire.
          </p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="300">
        <a data-toggle="collapse" href="#faq4" class="collapsed">Est-ce que The Bridge propose des solutions
          personnalisées pour les entreprises ? <i class="icofont-simple-up"></i></a>
        <div id="faq4" class="collapse" data-parent=".faq-list">
          <p>
            Oui, The Bridge propose des solutions personnalisées pour répondre aux besoins spécifiques des entreprises,
            y compris l'intégration avec d'autres systèmes et la personnalisation avancée des fonctionnalités.
          </p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="400">
        <a data-toggle="collapse" href="#faq5" class="collapsed">Est-ce que The Bridge offre un support client 24/7 ? <i
            class="icofont-simple-up"></i></a>
        <div id="faq5" class="collapse" data-parent=".faq-list">
          <p>
            Oui, The Bridge propose un support client disponible 24 heures sur 24, 7 jours sur 7 pour répondre à vos
            questions et résoudre vos problèmes rapidement et efficacement.
          </p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="500">
        <a data-toggle="collapse" href="#faq6" class="collapsed">Est-ce que The Bridge propose des solutions de
          connectivité pour les appareils IoT ? <i class="icofont-simple-up"></i></a>
        <div id="faq6" class="collapse" data-parent=".faq-list">
          <p>
            Oui, The Bridge propose des solutions de connectivité spécialement conçues pour les appareils IoT, offrant
            une connectivité fiable et sécurisée pour les objets connectés.
          </p>
        </div>
      </li>

    </ul>

  </div>
</section><!-- Fin de la section FAQ -->


<!-- ======= Pied de page ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>The Bridge</h3>
            <p>
              <strong>Adresse:</strong> Béja l'avenir , Béja Nord 9000 Tunisie | Cyber Parc Béja 9000<br>
              <br>
              <strong>Téléphone:</strong>+216 20 200 200<br>
              <strong>Email:</strong>The BridgeWord@gmail.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/aerosadvising/" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/aerosadvising/" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.recruter.tn/poste/aeros-innovation-center-recrute/" class="instagram"><i
                  class="bx bxl-instagram"></i></a>
              <a href="https://tn.linkedin.com/company/aerosadvising" class="linkedin"><i
                  class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Liens utiles</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="index.html">Accueil</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/formation1">Nos Formation</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/pack">Tarifs</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/loginuser">Conditions </a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://policies.google.com/privacy?hl=fr-CA">Politique</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nos services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Conception Web</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Développement Web</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Gestion de Produit</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Design Graphique</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Contacter Nous</h4>
          <p>N'hésitez pas à nous contacter pour toute question ou demande d'information.</p>
          <a class="btn btn-primary" routerLink="/contact1">Contacter Nous</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="credits">
      &copy; Droits d'auteur <strong><span>The Bridge</span></strong>. Tous les droits sont réservés
    </div>
  </div>
</footer><!-- Fin du pied de page -->


<a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>
<!-- </main>End #main -->
