// body {
//     background: #0059ff !important;
//   }
//   .error-contain {
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     background: white;
//     border-radius: 10px;
//     box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
//   }
//   .error-text h1 {
//     font-size: 100px !important;
//     font-family: monospace;
//     margin: 0;
//     text-shadow: 1px 1px 1px #fff, -1px -1px 1px black;
//   }
//   .error-text {
//     text-align: center;
//     font-weight: bold;
//   }
//   .error-text p {
//     font-family: monospace;
//     font-size: 16px;
//   }
//   .error-text p:nth-child(3) {
//     margin-top: 150px;
//   }
//   .binoculars {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-60%, 20%);
//     transition: 1s;
//     /* animation-name: wiggle; */
//     animation-duration: 10s;
//     animation-delay: 5s;
//     animation-iteration-count: infinite;
//   }
//   .left-bino-lense, .right-bino-lense {
//     width: 45px;
//     height: 45px;
//     border-radius: 50%;
//     border: 5px solid black;
//     display: inline-block;
//     transform: skewX(-10deg);
//     background: white;
//     overflow: hidden;
//     position: relative;
//   }
//   .left-bino-lense {
//     margin-right: 10px;
//   }
//   .left-bino-lense::before, .right-bino-lense::before {
//     width: 20px;
//     height: 20px;
//     content: '';
//     display: block;
//     background: black;
//     position: absolute;
//     border: 3px solid #3066c9;
//     border-radius: 50%;
//     top: 50%;
//     left: 50%;
//     transform: translate(-70%,-55%);
//     animation-name: eye-move;
//     animation-duration: 6s;
//     animation-iteration-count: infinite;
//     animation-timing-function: ease-in-out;
//     animation-delay: 3s;
//   }
//   .back-bino {
//     width: 70px;
//     height: 30px;
//     background: black;
//     position: absolute;
//     top: 23px;
//     left: 40px;
//   }
//   .left-bino, .right-bino {
//     position: absolute;
//     height: 100px;
//     width: 80px;
//     perspective: 80px;
//     transform: rotate(100deg);
//     right: -25px;
//     top: 1px;
//   }
//   .right-bino {
//     left: -1px;
//   }
//   .left-bino::after, .right-bino::after {
//     content: '';
//     padding: 21px;
//     padding-top: 45px;
//     position: absolute;
//     border: 1px solid black;
//     background: black;
//     transform-style: preserve-3d;
//     transform: rotateX(30deg);
//     border-radius: 30% 80% 0 0;
//     left: 1px;
//     top: -4px;
//   }
//   .left-bino-lense .eye {
//     width: 100%;
//     height: 100%;
//   }
//   .eye::before, .eye::after {
//     content: '';
//     display: block;
//     width: 45px;
//     height: 26px;
//     background: #f5cd8c;
//     position: absolute;
//     transition: 1s;
//   }
//   .eye::before {
//     border-radius: 50% 50% 0 0;
//     border-bottom: 2px solid #b88c44;
//     top: -30px;
//     animation-name: eye-up;
//     animation-duration: 3s;
//     animation-iteration-count: infinite;
//   }
//   .eye::after {
//     border-radius: 0 0 50% 50%;
//     border-top: 2px solid #b88c44;
//     bottom: -30px;
//     animation-name: eye-down;
//     animation-duration: 3s;
//     animation-iteration-count: infinite;
//   }
//   .binoculars:hover .eye::after {
//     bottom: -30px;
//   }
//   .binoculars:hover .eye::before {
//     top: -30px;
//   }
//   @keyframes eye-up {
//     0% {
//       top: -30px;
//     }
//     50% {
//       top: -30px;
//     }
//     55% {
//       top: -5px;
//     }
//     60% {
//       top: -30px;
//     }
//   }
//   @keyframes eye-down {
//     0% {
//       bottom: -30px;
//     }
//     50% {
//       bottom: -30px;
//     }
//     55% {
//       bottom: -3px;
//     }
//     60% {
//       bottom: -30px;
//     }
//   }
//   @keyframes wiggle {
//     0% {
//       transform: translate(-50%,-20%);
//     }
//     10% {
//       transform: skew(-20deg) translate(-50%,-20%) rotate(20deg);
//     }
//     30% {
//       transform: skew(20deg) translate(-50%,-20%) rotate(-20deg);
//     }
//     40% {
//       transform: translate(-50%,-20%);
//     }
//     50% {
//     }
//   }
//   @keyframes eye-move {
//     0% {
//       transform: translate(-70%,-55%);
//     }
//     10% {
//       transform: translate(-90%, -90%);
//     }
//     20% {
//       transform: translate(-60%, -110%);
//     }
//     30% {
//       transform: translate(-20%, -20%);
//     }
//     40% {
//       transform: translate(-60%, -0%);
//     }
//     50% {
//       transform: translate(-70%,-55%);
//     }
//   }




//   .error-text h1 {
//     font-size: 50px; /* Ajuster la taille de la police selon vos besoins */
// }

// .error-text p {
//     font-size: 50px; /* Ajuster la taille de la police selon vos besoins */
// }




@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);

body {
  width:100%;
  height:100%;
  background:#48A9E6;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  margin:0;
  padding:0;
}

#title {
  text-align:center;
  font-size:40px;
  margin-top:40px;
  margin-bottom:-40px;
  position:relative;
  color:#fff;
}

.circles:after {
  content:'';
  display:inline-block;
  width:100%;
  height:100px;
  background:#fff;
  position:absolute;
  top:-50px;
  left:0;
  transform:skewY(-4deg);
  -webkit-transform:skewY(-4deg);
}

.circles { 
	background:#fff;
	text-align: center;
	position: relative;
  margin-top:-60px;
  box-shadow:inset -1px -4px 4px rgba(0,0,0,0.2);
}

.circles p {
	font-size: 240px;
	color: #fff;
	padding-top: 60px;
	position: relative;
  z-index: 9;
  line-height: 100%;
}

.circles p small { 
  font-size: 40px; 
  line-height: 100%; 
  vertical-align: top;   
}

.circles .circle.small {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background: #48A9E6;
	position: absolute;
	z-index: 1;
	top: 80px;
	left: 50%;
	animation: 7s smallmove infinite cubic-bezier(1,.22,.71,.98);	
	-webkit-animation: 7s smallmove infinite cubic-bezier(1,.22,.71,.98);
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}

.circles .circle.med {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #48A9E6;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 10%;
	animation: 7s medmove infinite cubic-bezier(.32,.04,.15,.75);	
	-webkit-animation: 7s medmove infinite cubic-bezier(.32,.04,.15,.75);
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

.circles .circle.big {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background: #48A9E6;
	position: absolute;
	z-index: 1;
	top: 200px;
	right: 0;
	animation: 8s bigmove infinite;	
	-webkit-animation: 8s bigmove infinite;
	animation-delay: 3s;
	-webkit-animation-delay: 1s;
}

@-webkit-keyframes smallmove {
	0% { top: 10px; left: 45%; opacity: 1; }
	25% { top: 300px; left: 40%; opacity:0.7; }
	50% { top: 240px; left: 55%; opacity:0.4; }
	75% { top: 100px; left: 40%;  opacity:0.6; }
	100% { top: 10px; left: 45%; opacity: 1; }
}
@keyframes smallmove {
	0% { top: 10px; left: 45%; opacity: 1; }
	25% { top: 300px; left: 40%; opacity:0.7; }
	50% { top: 240px; left: 55%; opacity:0.4; }
	75% { top: 100px; left: 40%;  opacity:0.6; }
	100% { top: 10px; left: 45%; opacity: 1; }
}

@-webkit-keyframes medmove {
	0% { top: 0px; left: 20%; opacity: 1; }
	25% { top: 300px; left: 80%; opacity:0.7; }
	50% { top: 240px; left: 55%; opacity:0.4; }
	75% { top: 100px; left: 40%;  opacity:0.6; }
	100% { top: 0px; left: 20%; opacity: 1; }
}

@keyframes medmove {
	0% { top: 0px; left: 20%; opacity: 1; }
	25% { top: 300px; left: 80%; opacity:0.7; }
	50% { top: 240px; left: 55%; opacity:0.4; }
	75% { top: 100px; left: 40%;  opacity:0.6; }
	100% { top: 0px; left: 20%; opacity: 1; }
}

@-webkit-keyframes bigmove {
	0% { top: 0px; right: 4%; opacity: 0.5; }
	25% { top: 100px; right: 40%; opacity:0.4; }
	50% { top: 240px; right: 45%; opacity:0.8; }
	75% { top: 100px; right: 35%;  opacity:0.6; }
	100% { top: 0px; right: 4%; opacity: 0.5; }
}
@keyframes bigmove {
	0% { top: 0px; right: 4%; opacity: 0.5; }
	25% { top: 100px; right: 40%; opacity:0.4; }
	50% { top: 240px; right: 45%; opacity:0.8; }
	75% { top: 100px; right: 35%;  opacity:0.6; }
	100% { top: 0px; right: 4%; opacity: 0.5; }
}










body {
    font-family: Arial, sans-serif; /* Utilisation d'une police de caractères pro */
  }
  
  #not-found {
    text-align: center;
  }
  
  a {
    display: inline-block;
    background-color: #007bff; /* Couleur de fond pro */
    color: #fff; /* Couleur de texte pro */
    border-radius: 30px; /* Rendre le bouton avec des coins arrondis */
    padding: 20px 30px; /* Ajuster la taille du bouton */
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 1; /* Assure que le texte est au-dessus des pseudo-éléments */
    transition: color 0.3s; /* Ajout de la transition de couleur de texte */
  }

  a::before, a::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #007bff; /* Même couleur que le fond */
    transition: width 0.3s; /* Déplacer la transition de largeur ici */
    z-index: -1; /* Place les pseudo-éléments derrière le texte */
  }

  a::before {
    left: 0;
    border-radius: 30px 0 0 30px; /* Rendre le bouton demi-circulaire à gauche */
  }

  a::after {
    right: 0;
    border-radius: 0 30px 30px 0; /* Rendre le bouton demi-circulaire à droite */
  }
  
//   a:hover::before {
//     width: 100%;
//     background-color: #0056b3; /* Changement de couleur de fond au survol */
//   }

//   a:hover::after {
//     width: 100%;
//     background-color: #0056b3; /* Changement de couleur de fond au survol */
//   }
  
  a:hover {
    color: #fff; /* Changement de couleur du texte au survol */
  }