<router-outlet></router-outlet>
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
  
      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span style="font-family: 'Arial Black', sans-serif; font-size: 40px; color: #0888f0; text-shadow: 2px 2px 4px rgba(0,0,0,0.3);"><i class="fas fa-users"></i>C<span style="font-size: 32px; color:#0888f0 ;">onnected</span></span></a></h1>
      </div>
      <nav class="nav-menu d-none d-lg-block">
    <ul>
      <li class="active"><a href="index.html">Accueil</a></li>
      <li class="dropdown">
        <a routerLink="formation" id="nos-formations">Nos Formations </a>
        <!-- <ul class="dropdown-menu" id="nos-formations-menu">
          <li><a href="#Dev-web"><i class="fas fa-laptop-code"></i> Formation en Computer Science</a></li>
          <li><a href="#marketing"><i class="fas fa-bullhorn"></i> Formation en Marketing</a></li>
          <li><a href="#designe"><i class="fas fa-paint-brush"></i> Formation en Design</a></li>
          <li><a href="#data"><i class="fas fa-database"></i> Formation en Data</a></li>
        </ul> <i class="fas fa-chevron-down"></i>-->
      </li>
      
      
  
      <li><a href="#services">Services</a></li>
      <li><a href="#pricing">Tarifs</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav><!-- .nav-menu -->
  <!-- Boutons de connexion et inscription avec icônes plus petites -->
  <div class="login-signup-buttons ml-4">
    <!-- <a href="#" class="btn btn-login"><i class="icofont-key icofont-1x"></i> Connexion</a> -->
    <a routerLink="/loginuser" class="btn btn-outline-primary">
      <i class="icofont-user icofont-1x"></i> Connexion
  </a>
  
  
  </div>
  
  </div>
  </header><!-- End Header -->