<div class="container">
    <div class="col" style="color: white;">
        ‎ 
    </div>
    <div class="col" style="color: white;">
        ‎ 
    </div>
    <div class="col" style="color: white;">
        ‎ 
    </div>
</div>
<img src="assets/offres1.jpg" alt="Offres" style="width: 100vw; height: auto; max-width: none; height: 50vh; margin-top: 20px;">







 <!-- ======= Section Tarification ======= -->
 <section id="pricing" class="pricing section-bg">
    <div class="container">
  
      <div class="section-title" data-aos="fade-up">
        <!-- <h2 style="color: black; font-weight: bold;">Nos offres</h2> -->
        <p>Explorez les options tarifaires variées que propose Connected. Trouvez le plan parfaitement adapté à vos besoins.</p>

      </div>
  
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="box" data-aos="zoom-in">
            <h3>Starter</h3>
            <h4><sup>DT</sup>50<span> / 30 points</span></h4>
            <ul>
              <li>Espace de stockage limité</li>
              <li>Support par e-mail</li>
              <li>Fonctionnalités de base</li>
              <li class="na">Personnalisation avancée</li>
              <li class="na">Assistance téléphonique</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Acheter maintenant</a>
            </div>
          </div>
        </div>
      
        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
            <h3>Standard</h3>
            <h4><sup>DT</sup>150<span> / 120 points</span></h4>
            <ul>
              <li>Espace de stockage généreux</li>
              <li>Support par e-mail et téléphone</li>
              <li>Fonctionnalités avancées</li>
              <li>Personnalisation de base</li>
              <li>Assistance dédiée</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Acheter maintenant</a>
            </div>
          </div>
        </div>
      
        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <h3>Premium</h3>
            <h4><sup>DT</sup>300<span> / 270 points</span></h4>
            <ul>
              <li>Espace de stockage illimité</li>
              <li>Support 24/7 par e-mail, téléphone et chat</li>
              <li>Fonctionnalités premium</li>
              <li>Personnalisation avancée</li>
              <li>Assistance VIP</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Acheter maintenant</a>
            </div>
          </div>
        </div>
      
        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span class="advanced">Avancé</span>
            <h3>Entreprise</h3>
            <h4><sup>DT</sup>500<span> / 480 points</span></h4>
            <ul>
              <li>Personnalisation complète</li>
              <li>Intégration avec d'autres outils</li>
              <li>Sécurité renforcée</li>
              <li>Assistance dédiée</li>
              <li>Formation personnalisée</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Acheter maintenant</a>
            </div>
          </div>
        </div>
      
      </div>
      
  
    </div>
  </section><!-- Fin de la section Tarification -->
  