<div class="container">
  <div class="col" style="color: white;">
    ‎
  </div>
  <div class="col" style="color: white;">
    ‎
  </div>
  <div class="col" style="color: white;">
    ‎
  </div>
</div>

<!-- ======= Section Tarification ======= -->
<section id="pricing" class="pricing section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up" style="width: 100%;">
      <p>Explorez les options tarifaires variées que propose The Bridge. Trouvez le plan parfaitement adapté à vos
        besoins.</p>
    </div>
    <div class="row equal-height">
      <div *ngFor="let item of dataArray; index as i" class="col-lg-3 col-md-6">
        <div class="box" data-aos="zoom-in">
          <span class="advanced">The Bridge</span>
          <h3>{{ item.titre }}</h3>
          <h4><sup>DT</sup>{{ item.prix }}<span> / {{ item.points }} points</span></h4>
          <ul>
            <li>{{ item.description }}</li>
            <li>{{ item.description1 }}</li>
            <li>{{ item.description2 }}</li>
            <li>{{ item.description3 }}</li>
          </ul>
          <div class="btn-wrap">
            <a [routerLink]="['/paiement']" [queryParams]="{ id: item.id }" class="btn-buy">Acheter maintenant</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- Fin de la section Tarification -->
