
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                <li class="breadcrumb-item"><a href="/formateur">Formateur</a></li>
                <li class="breadcrumb-item" aria-current="page">Mon compte</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="page-header-title">
                <h2 class="mb-0 text-center">Mon compte</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header pb-0">
              <ul class="nav nav-tabs profile-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="profile-tab-1" data-bs-toggle="tab" href="#profile-1" role="tab" aria-selected="true">
                    <i class="ti ti-user me-2"></i>Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab-2" data-bs-toggle="tab" href="#profile-2" role="tab" aria-selected="true">
                    <i class="ti ti-file-text me-2"></i>Modifier compte
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab-4" data-bs-toggle="tab" href="#profile-4" role="tab" aria-selected="true">
                    <i class="ti ti-lock me-2"></i>Changer le mot de passe
                  </a>
                </li>
               
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane show active" id="profile-1" role="tabpanel" aria-labelledby="profile-tab-1">
                  <div class="row">
                    <div class="col-lg-4 col-xxl-3">
                      <div class="card">
                        <div class="card-body position-relative">
                          
                          <div class="text-center mt-3">
                            <div class="chat-avtar d-inline-flex mx-auto">
                              <img class="rounded-circle img-fluid wid-70" src="assets/formateur.jpg" alt="User image">
                            </div>
                            <h5 class="mb-0">Formateur</h5>
                            <p class="text-muted text-sm">Chef de projet</p>
                            
                            <hr class="my-3">
                            <div class="d-inline-flex align-items-center justify-content-between w-100 mb-3">
                              <i class="ti ti-mail"></i>
                              <p class="mb-0"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="86e7e8f5eee7e8c6e1ebe7efeaa8e5e9eb">[ZouaghuiFiras72@gmail.com]</a></p>
                            </div>
                            <div class="d-inline-flex align-items-center justify-content-between w-100 mb-3">
                              <i class="ti ti-phone"></i>
                              <p class="mb-0">(+216) 92 139 847</p>
                            </div>
                            <div class="d-inline-flex align-items-center justify-content-between w-100 mb-3">
                              <i class="ti ti-map-pin"></i>
                              <p class="mb-0">Beja,Tunisia</p>
                            </div>
                            <div class="d-inline-flex align-items-center justify-content-between w-100">
                              <i class="ti ti-link"></i>
                            
                            </div>
                          </div>
                        </div>
                      </div>
                     
                    </div>
                    <div class="col-lg-8 col-xxl-9">
                      <div class="card">
                        <div class="card-header">
                          <h5>À propos de moi</h5>
                        </div>
                        <div class="card-body">
                          <p class="mb-0">
                            En tant que formateur spécialisé dans la formation de formateurs, je m'engage à fournir une expertise approfondie et des méthodologies efficaces pour développer les compétences pédagogiques des participants. Ma formation vise à créer des environnements d'apprentissage dynamiques, favorisant l'engagement et l'autonomie, tout en mettant l'accent sur le développement professionnel continu. Mon objectif est d'outiller les apprenants pour qu'ils deviennent des formateurs compétents, capables d'inspirer et de guider efficacement les futurs apprenants.</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header">
                          <h5>Informations personnelles</h5>
                        </div>
                        <div class="card-body">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0 pt-0">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="mb-1 text-muted">Nom</p>
                                  <p class="mb-0">Formateur</p>
                                </div>
                                <div class="col-md-6">
                                  <p class="mb-1 text-muted">Prenom</p>
                                  <p class="mb-0">Formateur</p>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item px-0">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="mb-1 text-muted">Téléphone</p>
                                  <p class="mb-0">(+216) 92 139 847</p>
                                </div>
                                <div class="col-md-6">
                                  <p class="mb-1 text-muted">Email</p>
                                  <p class="mb-0"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e5848b968d848bcb818dddd4a58288848c89cb868a88">[ZouaghuiFiras72@gmail.com]</a></p>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item px-0">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="mb-1 text-muted">Date de Naissance</p>
                                  <p class="mb-0">2000/5/2</p>
                                </div>
                                <div class="col-md-6">
                                  <p class="mb-1 text-muted">Adresse</p>
                              <p class="mb-0">Beja,Tunisia</p>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item px-0" id="cvButton">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="mb-1 text-muted">CV</p>
                                </div>
                                <div class="col-md-6 text-right">
                                  <i class="fas fa-file-alt"></i>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="profile-2" role="tabpanel" aria-labelledby="profile-tab-2">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="card">
                        <div class="card-header">
                          <h5>Informations personnelles</h5>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12 text-center mb-3">
                              <div class="profile-upload-container">
                                <!-- Image de l'avatar -->
                                <img src="assets/profileA/images/avatar-4.jpg" alt="Avatar" class="profile-avatar img-fluid">
                                
                                <!-- Bouton d'importation de l'image -->
                                <label for="uploadAvatar" class="upload-avatar-button">
                                    <i class="icon ti ti-camera f-24 mb-1"></i>
                                    <span>Importer une photo</span>
                                </label>
                                
                                <!-- Input caché pour le téléchargement de l'image -->
                                <input type="file" id="uploadAvatar" class="hidden-input">
                            </div>
                            
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="form-label">Nom</label>
                                <input type="text" class="form-control" value="Anshan">
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="form-label">Prénom</label>
                                <input type="text" class="form-control" value="Handgun">
                              </div>
                            </div>
                            
                            <div class="col-sm-12">
                              <label for="inputEducation" style="color: rgb(8, 8, 8)">Niveau d'éducation</label>
                            <select id="inputEducation" class="form-control" required="">
                                <option selected="" style="color: rgb(8, 8, 8)">Sélectionnez votre niveau d'éducation</option>
                                <option>Bac</option>
                                <option>Bac +2</option>
                                <option>Bac +3</option>
                                <option>Bac +5 et plus</option>
                                <option>Autre</option>
                            </select>
                            </div>
                           
                            <div class="col-sm-12">
                              <label for="inputStatus" style="color: rgb(8, 8, 8)">Statut professionnel actuel</label>
                            <select id="inputStatus" class="form-control" required="">
                                <option selected="" style="color: rgb(8, 8, 8)">Sélectionnez votre statut professionnel</option>
                                <option>Étudiant</option>
                                <option>Employé</option>
                                <option>Indépendant</option>
                                <option>Autre</option>
                            </select>
                            </div>
                            <div class="col-sm-12">
                              <label for="inputExperience" style="color: rgb(8, 8, 8)">Expérience professionnelle</label>
                            <textarea class="form-control" id="inputExperience" rows="3" placeholder="Entrez votre expérience professionnelle"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="card">
                        <div class="card-header">
                          <h5>Informations de contact</h5>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="form-label">Téléphone</label>
                                <input type="text" class="form-control" value="(+216) 9999 999 999">
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="form-label">Email <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" value="demo@sample.com">
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="form-label">Portfolio</label>
                                <input type="text" class="form-control" value="https://demo.com">
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="form-label">Lien vers LinkedIn</label>
                                <input type="text" class="form-control" value="https://demo.com">
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="form-label">Address</label>
                                <textarea class="form-control">Beja,Tunisia</textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-end btn-page">
                      <div class="btn btn-outline-secondary">Annuler</div>
                      <div class="btn btn-primary">Mettre à jour le profil</div>
                    </div>
                  </div>
                </div>
               
                <div class="tab-pane" id="profile-4" role="tabpanel" aria-labelledby="profile-tab-4">
                  <div class="card">
                    <div class="card-header">
                      <h5>Changer de mot de passe</h5>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-label">Ancien mot de passe</label>
                            <input type="password" class="form-control">
                          </div>
                          <div class="form-group">
                            <label class="form-label">Nouveau mot de passe</label>
                            <input type="password" class="form-control">
                          </div>
                          <div class="form-group">
                            <label class="form-label">Confirmer le mot de passe</label>
                            <input type="password" class="form-control">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <h5>Le nouveau mot de passe doit contenir :</h5>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="ti ti-minus me-2"></i> Au moins 8 caractères</li>
                            <li class="list-group-item"><i class="ti ti-minus me-2"></i> Au moins 1 lettre minuscule (a-z)
                            </li>
                            <li class="list-group-item"><i class="ti ti-minus me-2"></i> Au moins 1 lettre majuscule
                              (A-Z)</li>
                            <li class="list-group-item"><i class="ti ti-minus me-2"></i> Au moins 1 chiffre (0-9)</li>
                            <li class="list-group-item"><i class="ti ti-minus me-2"></i> Au moins 1 caractère spécial
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-end btn-page">
                      <div class="btn btn-outline-secondary">Annuler</div>
                      <div class="btn btn-primary">Mettre à jour le profil</div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  
