<div class="center-container">
  <div class="container">
    <div class="title" style="text-align: center;">
      <h5 style="display: inline;">Sélectionnez une méthode de <span style="color: #6064b6">paiement</span></h5>
    </div>
    <form action="#">
      <input type="radio" name="payment" id="visa">
      <input type="radio" name="payment" id="mastercard">
      <input type="radio" name="payment" id="paypal">
      <input type="radio" name="payment" id="AMEX">


      <div class="category">
        <label for="visa" class="visaMethod">
          <div class="imgName">
            <div class="imgContainer visa">
              <img src="https://i.ibb.co/vjQCN4y/Visa-Card.png" alt="">
            </div>
            <span class="name">VISA</span>
          </div>
          <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
        </label>

        <label for="mastercard" class="mastercardMethod">
          <div class="imgName">
            <div class="imgContainer mastercard">
              <img src="https://i.ibb.co/vdbBkgT/mastercard.jpg" alt="">
            </div>
            <span class="name">Mastercard</span>
          </div>
          <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
        </label>

        <label for="paypal" class="paypalMethod">
          <div class="imgName">
            <div class="imgContainer paypal">
              <img src="https://i.ibb.co/KVF3mr1/paypal.png" alt="">
            </div>
            <span class="name">Paypal</span>
          </div>
          <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
        </label>

        <label for="AMEX" class="amexMethod">
          <div class="imgName">
            <div class="imgContainer AMEX">
              <img src="assets/d17.png" alt="">
            </div>
            <span class="name">D17</span>
          </div>
          <span class="check"><i class="fa-solid fa-circle-check" style="color: #6064b6;"></i></span>
        </label>
      </div>
    </form>
  </div>
</div>
