<div class="container">
  <div class="col" style="color: white;">
    ‎
  </div>
  <div class="col" style="color: white;">
    ‎
  </div>
  <div class="col" style="color: white;">
    ‎
  </div>
</div>

<!-- Image pour "Contactez-nous" -->
<img src="assets/Contact.jpg" alt="Contactez-nous"
  style="width: 100%; max-width: 100%; height: auto; margin-top: 20px;">

<!-- ======= Section Contact ======= -->
<section id="contact" class="contact section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <!-- <h2 style="color: black; font-weight: bold; font-size: 28px;">Contactez-nous</h2> -->
      <p class="section-description" style="font-size: 20px;">N'hésitez pas à nous contacter pour toute demande de
        renseignements, questions ou collaborations. Remplissez le formulaire ci-dessous et nous vous répondrons dès que
        possible.</p>
    </div>
    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-right">
        <div class="info" style="border: 1px solid #ccc; padding: 20px; border-radius: 10px;">
          <div class="address">
            <i class="icofont-google-map"></i>
            <h4>Adresse :</h4>
            <p>Béja l'avenir , Béja Nord 9000 Tunisie | Cyber Parc Béja 9000</p>
          </div>

          <div class="email">
            <i class="icofont-envelope"></i>
            <h4>Email :</h4>
            <p>mansourifiras72@gmail.com</p>
          </div>

          <div class="phone">
            <i class="icofont-phone"></i>
            <h4>Téléphone :</h4>
            <p>+216 92 139 847</p>
          </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.158077030648!2d9.190586624315134!3d36.74277657226361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fb59f4a320c363%3A0x39310b820379bf5c!2sAeros%20Innovation%20Center%20%7C%20Aeros%20Advising%20%7C%20Icstartup!5e0!3m2!1sar!2stn!4v1708610693488!5m2!1sar!2stn"
            frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">

        <section class="formcarry-container">

          <form class=" php-email-form" action="https://formcarry.com/s/mLB-k3gJH_G" method="POST"
            enctype="multipart/form-data"
            style="border: 1px solid #ccc; padding: 20px; border-radius: 10px; width: 100;">

            <div class="formcarry-block">
              <label for="fc-generated-1-name">Votre Nom</label>
              <input type="text" name="name" id="fc-generated-1-name" placeholder="Votre prénom et nom" />
            </div>

            <div class="formcarry-block">
              <label for="fc-generated-1-email">Votre Adresse Email</label>
              <input type="email" name="email" id="fc-generated-1-email" placeholder="votre_email@exemple.com" />
            </div>

            <div class="formcarry-block">
              <label for="fc-generated-1-sujet">Sujet</label>
              <input type="text" name="sujet" id="fc-generated-1-sujet" placeholder="Sujet de votre message" />
            </div>

            <div class="formcarry-block">
              <label for="fc-generated-1-message">Votre message</label>
              <textarea name="message" id="fc-generated-1-message" placeholder="Entrez votre message..."></textarea>
            </div>

            <div class="formcarry-block">
              <button type="submit">Envoyer</button>
            </div>

          </form>
        </section>
      </div>
    </div>
  </div>
</section>
